// build.gradle (app level)
dependencies {
    // osmdroid for OpenStreetMap
    implementation 'org.osmdroid:osmdroid-android:6.1.18'
    
    // Google Play Services for location
    implementation 'com.google.android.gms:play-services-location:21.0.1'
    
    // Other dependencies...
}
